
/*------------------- banner -----------------*/
.banner{
  background: #20211F;
  color:  #C9B98F;
  height: 60px;
  padding:0;
  margin:0;
}
.banner .content{
  padding-top:10px;
}

button{
  height: 40px;
  width: 24%;
  transition: 0.3s;
  background:  rgba(76, 175, 80, 0);
  border: none;
  color:  #968142;
  text-decoration: none;
  font-size: 20pt;
  font-family: 'Questrial';
}

button:hover{
  background: #FFFABA;
    cursor:pointer;

}
/*------------------- content wrap -----------------*/
.content{
  max-width:950px;
  margin:0 auto;
  padding:30px;
}

/*------------------- body details -----------------*/
body{
    margin:0;
    background-image: linear-gradient(#B5953F, #FFF4D6);
}
h1{
  font-family: 'Questrial';
  font-size: 60pt;
  font-size: 100px;
  color: #E2E2E2;
}
label{
  font-family:'Abel';
  font-size: 20pt;
}

/***input fields***/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[placeholder], select[placeholder], textarea[placeholder]{
    font-family:'Abel';
    font-style: italic;
    font-size: 12pt;
}


/*been trying to change color of 'select from...' in 'Category' field*/
.no{
  color: grey;
} /*still wronggggg ughhhhh*/




/***submit button***/
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:'Abel';
    font-size: 12pt;
}


input[type=submit]:hover {
    background-color: darkgreen;
}

/* input[type=submit] {
  height: 40px;
  width: 24%;
  transition: 0.3s;
  background: #20211F ;
  color:  #968142;
  text-decoration: none;
  font-size: 20pt;
  font-family: 'Questrial';
  border-radius
}*/



/***warnings***/
.warning, .warningheading{
  color: red;
  font-size:11pt;
  font-family: 'Abel';
  font-weight: 700;
}


.warningheading{
  font-size: 15pt;
}
/*------------------- containers -----------------*/
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
