.banner{
  background: #20211F;
  color:  #C9B98F;
  height: 60px;
  padding:0;
  margin:0;
}
.banner .content{
  padding-top:10px;
}

button{
  height: 40px;
  width: 24%;
  transition: 0.3s;
  background:  rgba(76, 175, 80, 0);
  border: none;
}

button:hover{
  background: #FFFABA;
    cursor:pointer;
  /* opacity: 1; */
}
button{
  color:  #968142;
  text-decoration: none;
  font-size: 20pt;
  font-family: 'Questrial';
}
.content{
  max-width:950px;
  margin:0 auto;
  padding:30px;
}
body{
    background-image: linear-gradient(#B5953F, #FFF4D6);
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

h1{
  font-family: 'Questrial';
  font-size: 60pt;
  font-size: 100px;
  color: #E2E2E2;
}
label{
  font-family:'Abel';
  font-size: 20pt;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[placeholder], select[placeholder], textarea[placeholder]{
    font-family:'Abel';
    font-style: italic;
    font-size: 12pt;
}

.no{
  color: grey;
} /*wronggggg ughhhhh*/
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:'Abel';
    font-size: 12pt;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: blue;
}
.warning, .warningheading{
  color: red;
  font-size:11pt;
  font-family: 'Abel';
  font-weight: 700;
}


.warningheading{
  font-size: 15pt;
}
/* Add a background color and some padding around the form */
