/* mint cream #f7fff6
pastel green/grey #bececd
pastel green #c3d8be
green #85b5a3
jungle dark green #203535*/

header, footer {
  background: #203535
}

.work{
  background:#f7fff6
}

.education{
  background: #bececd
}
