
/*------------------------banner settings--------------------------*/


.banner .content{
  padding-top:10px;
}

.banner{
  background: #20211F;
  color:  #C9B98F;
  height: 60px;
  padding:0;
  margin:0;
}


button{
  height: 40px;
  width: 24%;
  transition: 0.3s;
  background:  rgba(76, 175, 80, 0);
  border: none;
  color:  #968142;
  text-decoration: none;
  font-size: 20pt;
  font-family: 'Questrial';
}

button:hover{
  background: #FFFABA;
  cursor:pointer;
  /* opacity: 1; */}



/*------------------------- header footer details -------------------------*/
header, footer {
  background: #011638;
  color: #F2F2F2;}

header{padding-top:50px;}


footer {text-align: center;}


h2{
  font-size: 45pt;
  transition: 0.3s;}


/*------------------------ hover settings ---------------------------*/

/***header***/
.headingcontainer:hover>.heading, .headingcontainer:hover>.subheading{
  text-shadow: 0px 0px 30px #9FA9AD;
}

p:hover~.imgcontainer img{

  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
p:hover~.imgcontainer{
  /* box-shadow: 0px 0px 20px 0px white; */
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.imgcontainer:hover{
  /* box-shadow: 0px 0px 20px 0px white; */
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}
.imgcontainer:hover>img{

  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/***main***/

.education .content:hover>h2, .achievements .content:hover>h2, .interests .content:hover>h2{
  font-size: 47pt;
  text-shadow: 0px 0px 20px lightblue;

}
.work .content:hover>h2, .skills .content:hover>h2{
  font-size: 47pt;
  text-shadow: 0px 0px 20px #FFE1A3;

}

.footer.content:hover>h2{
  text-shadow: 0px 0px 20px #9FA9AD;
  font-size: 45pt;
}

/*----------------------------heading details-------------------------------*/
/***containers***/
.headingcontainer{
  margin-bottom:20px;
}


.imgcontainer {
    position: relative;
    width: 30%;
    float: left;
    height: 280px;
    margin-top: 20px;
    transition: 0.3s;
    border-radius:8px;
    overflow: hidden;
}
.imgcontainer img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition:0.3s
}

/***text***/
.heading{
    font-size: 100px;
    color: #E2E2E2;
    transition:0.3s;
}
.subheading{
  margin-top:0;
  margin-bottom:50px;
  color: #E2E2E2;
  font-size:25px;
  transition:0.3s
}
.heading, .subheading{
  text-align: center;
  margin: 0;
  font-weight: 500;
  font-family: 'Questrial', serif;
}


.subdescription{
  float: right;
  width: 60%;
  text-align: right;
  color: #C9B98F;
  font-family: 'Abel', cursive;
  font-weight: 10;
  font-size: 18pt
}


/*------------------------------content wraps----------------------------*/
.headercontent{
  max-width:950px;
  margin:0 auto;
  padding-bottom:320px;
}

.content{
  max-width:950px;
  margin:0 auto;
  padding:30px;
}

/*-------------------------------body details----------------------------------*/





/***sections***/
body {
  clear: both;
  font-family: 'Abel', sans-serif;
  margin: 0;
}
.bits{
  padding:20px 30px;
}

.education, .achievements, .interests{
  clear: both;
  background: #EDF9FF;
}
.work, .skills{
  background:#FFFCF7;
}
/***text***/
h3{
  font-size:25pt;
  padding: 0px;
  margin-bottom:10px;
}
.education p{
  font-size: 15pt;
}

.job{
  font-size: 13pt;
  padding-right: 50px
}

.date{
  padding:0px;
  margin-bottom:50px;
  font-style: italic;
  font-size: 12pt;
  font-weight: 100;
  color: grey;
  }
.break{
  text-align:center;
  font-weight: 100;
}





/*---------footer details----------*/


footer a {color: #78E3FD}

footer a:hover {text-decoration: none}





.contactinfo a {
  padding: 10px;
  margin: 10px;
  display: inline-block;
}
