/* mint cream #f7fff6
pastel green/grey #bececd
pastel green #c3d8be
green #85b5a3
pthalo green #0C352A
electric blue #78E3FD*/

header, footer {
  background: #0C352A;
  color: #bececd
}
header h1, header h2 {
  color: #f7fff6
}
a {
  color: #78E3FD
}
a:hover {
  text-decoration: none
}

.work{
  background:#f7fff6
}

.education{
  background: #85b5a3
}
